.quick_add_button {
    width: 30%;
    align-items: center;
    margin-left:35%;
    margin-bottom: 5%;
    font-size: .8em;
}

#quick_add_form {
    font-size: 1.2em;
}

.form_box {
    width: 80%;
    font-size: .6em;
}