.navbar {
    background-color: #FFB830;
    margin: 0px;
    padding-top: 1rem;
    padding: 2px;
    border-bottom-left-radius: .8em ;
    border-bottom-right-radius:.8em ;
}

.nav-item {
    display: inline-block;
    color: black;
    text-decoration: none !important;
    cursor: pointer;
    margin-left: .5rem;
    margin-right: 1rem;
    list-style: none;
}

ul {
    margin-top: 1rem;
}