.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.create-goal {
  margin-top: 4em;
  width: 80%;
}

.goal-btn {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1em;
  padding: .5em;
  padding-bottom: 0;
}

#logo {
  color: #3DB2FF;
  font-size: .8em;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-size: 2em;
}

#goal-offcanvas {
  font-size: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
