body {
  margin: 0;
  font-family: 'Dongle', sans-serif;
  font-size: 1.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3DB2FF;
}

.topMargin {
  margin-top: 2em;
}

.mx-spacing {
  margin-right: 1em;
  margin-left: 2em;
  width: 85%;
}

#def_background {
  background-color: #FFEDDA;
  border-radius: 1rem;
}

.login_form {
  margin-top: 5%;
  padding: 2rem;
  font-size: 1.5em;
  margin-bottom: -25%;
}

#def_btn{
  background-color: #FF2442;
  color: black;
  font-size: .7em;
}

.form_box {
  background-color: #FFB830;
  color: black;
  width: 25rem;
  margin-bottom: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
